div#superimposedText {
  font-family: 'Playfair Display', serif;
  position: relative;
  height: auto;
  width: auto;
  text-align: right;
  right: 100px;
  top: 100px;
  color: whitesmoke;
}

span#lFirstname {
  font-size: 6rem;
}

span#lLastname {
  font-size: 4rem;
}

span#lGender {
  font-size: 3rem;
}
