div#superimposedText {
  font-family: 'Cabin', sans-serif;
  position: relative;
  height: auto;
  width: auto;
  text-align: right;
  right: 100px;
  top: 100px;
  color: whitesmoke;
}

span#lFirstname {
  font-size: 5rem;
}

span#lLastname {
  font-size: 3rem;
}
